.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
}

h3 {
    text-align: center;
}

.active {
    background-color: rgb(254, 255, 218);
}

.nearMaxMass {
    font-style: bold;
    color: red;
}

