<div class="displayBox">
    <h3>Equipment</h3>
    <ol>
        <li *ngFor="let item of equipmentItems">
            <button [disabled]="!canAdd(item)" [class.active]="canAdd(item)" (click)="isNearMaxMass = addItem(item)">Add to Cargo Hold</button>
            {{item.name}}, {{item.mass}} kg
        </li>
    </ol>
</div>

<hr>

<div class = "displayBox">
    <h3>Cargo Hold: {{cargoHold.length}}/{{maxItems}} Spots Filled</h3>
    <ol>
        <li *ngFor="let equipment of cargoHold">{{equipment.name}}</li>
    </ol>
    <p>Mass in Hold: {{cargoMass}} kg</p>
    <p [class.nearMaxMass]="isNearMaxMass">Mass Budget Remaining: {{maximumAllowedMass - cargoMass}} kg</p>
    <button [disabled]="cargoHold.length === 0" (click)="emptyHold()">Empty Hold</button>
</div>

